<div class="recap layout-column">
  {{#each model.points as |point|}}
    <div class="layout-row {{point.scoredBy.primary}}">
      <span class="score flex-25">{{point.squadScore}} - {{point.oppScore}}</span>
      <span class="flex">
        {{#each point.players as |player|}}
          {{player.handle}}
        {{/each}}
      </span>
    </div>
  {{/each}}
</div>
{{!-- 
<div class="recap layout-column">
  {{#paper-virtual-repeat model.points
      onScrollBottomed=null as |points|
  }}
  {{#each points as |point|}}
    <div class="repeated-item {{point.scoredBy.primary}}">
      <span class="score flex-25">{{point.squadScore}} - {{point.oppScore}}</span>
      <span class="flex">
        {{#each point.players as |player|}}
          {{player.handle}}
        {{/each}}
      </span>
    </div>
  {{/each}}
  {{/paper-virtual-repeat}}
</div>
 --}}
