<div class="game layout-column">
  <div class="flex-25 layout-row">
    {{team-scoreboard
        class='flex-50'
        score=game.squadScore
        team=squad
    }}
    {{team-scoreboard
        class='flex-50'
        score=game.oppScore
        team=opponent
    }}
  </div>

  <div class="flex-20 layout-row">
    {{#if inPlay}}
      {{#paper-button onClick=(action 'recordScore' squad) class="flex-50"}}
        We scored!
      {{/paper-button}}

      {{#paper-button onClick=(action 'recordScore' opponent) class="flex-50"}}
        They scored...
      {{/paper-button}}
    {{else}}
      {{#paper-button onClick=(action 'toggleInPlay') class="flex"}}
        Done Subs
      {{/paper-button}}
    {{/if}}
  </div>

 
  <div class="players-section layout-row flex">
    {{#if inPlay}}
      {{field-stats}}
    {{else}}
      {{bench-field
          players=benchMen
      }}
          {{!-- backgroundColor --}}
      {{bench-field
          players=benchWomen
      }}
    {{/if}}

    {{bench-field
        players=fieldWomen
    }}
   {{bench-field
        players=fieldMen
    }}
  </div>

      {{!-- {{#if inPlay}} --}}
        {{!-- this nothing might cause a problem --}}
      {{!-- {{else}} --}}
        {{!-- clear line --}}
      {{!-- {{/if}} --}}

</div>
